.section_p {
    width: 100%;
    float: center;
}

.section_table {
    width: 50%;
    float: left;
}

.section_link {
    width: 50%;
    float: right;
    
}


.table {
    background-color: #09ca8d;
    width: 80%;
    height: 30%;
}

#img_body{
    width: 100%;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 5px;
    text-align: center;
}